.content {
    margin-left:30px;
}

#amountGroup {
    padding-top: 15px;
}

#OKBtn {
    margin-left: 10px;
}

#selectCountry {
    text-align: center;
    width:180px;
}

#selectCountryDiv {
    padding-top: 15px;
}

.dropdown-menu.multi-column {
    width: 530px;
    border: 1px solid black;
}
 
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.dropdown-menu.multi-column .dropdown-menu li:hover {background-color: #ddd;}

.dropdown-menu.multi-column .dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#addButtons  {
    padding-top: 15px;
    padding-bottom: 15px;
}
#maintable {
    background-color: #ffffe0;
    table-layout: fixed;
}

#maintable td{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    white-space:nowrap;
}

#maintable  td:hover {
    background-color: #eab49e;
}   
.hoverButton {
    display: none;
}

td:hover .hoverButton {
    display: inline-block;
}
#buttonChange {
    background: url("icon/change.svg");
    height: 40px;
    width: 40px;
}

#selectMonth, #selectYear{
     width: 100px;
}
.selectCountryDiv {
    display: inline-block;
}
.selectCountryDiv {
    display: inline-block;
}

#showDataDiv p{
     display: inline;
}